@import 'common.scss';
@import 'header.scss';
/*===================================
=            PAGE TALENTS           =
===================================*/

#section-cover{
	position: relative;
	.wrapper{
		@include styleGrid2;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-end;
		h1{
			width: 550px;
			@include styleH1;
			strong{
				position: relative;
				&:after{
					content: '';
					position: absolute;
					top: 85%;
					left: 0px;
					width: 100%;
					height: 2px;
					background-color: #FFD656;
				}
			}
		}
		.btn{
			@include buttonBig;
			background: linear-gradient(134.85deg, #FFA9BE 0%, #E257FE 21.94%, #562FFD 69.4%, #562FFD 100%);
			.btn-text{
				color: #FFF;
			}
			.btn-arrow{
				fill: #FFF;
				transform: rotate(90deg);
			}
			&:hover .btn-arrow{
				transform: rotate(90deg) translateX(3px) scaleX(1.1);
			}
		}
	}
	.background{
		width: 100%;
	}
	@keyframes floating {
	  0%{
	  	opacity: 1;
	  } 
	  50%{
	  	opacity: 0;
	  } 
	  100%{
	  	opacity: 1;
	  }       
	}
	#Etoiles path{
		animation-name: floating;
		animation-duration: 4s;
	  	animation-iteration-count: infinite;
	  	animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
	  	@for $i from 1 to 40 {
			&:nth-child(#{$i}) { 
				animation-delay: $i * .15s; 
			}
		}
	}
}

#section-join{
	background-color: #FAFAFF;
	position: relative;
	margin-top: 110px;
	padding-bottom: 85px;
	.wrapper{
		@include styleGrid2;
	}
	.container-text{
		padding: 100px 0px 60px 0px;
		text-align: center;
		h2{
			@include styleH2;
		}
		p{
			width: 700px;
			margin: 12px auto 0px auto;
			@include styleParagraphMedium;
		}
	}
	.container-tab{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		height: 75px;
		justify-content: space-between;
		.tab{
			cursor: pointer;
			height: 100%;
			width: 32%;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			border-radius: 7px;
			transition: all 0.25s ease;

			.icn{
				position: relative;
				width: 25px;
				margin-right: 20px;

				img:nth-child(1){
					width: 100%;
					transition: all 0.25s ease;
					opacity: 1;
				}
				img:nth-child(2){
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: all 0.25s ease;
					opacity: 0;
				}
			}
			.text{
				@include styleH5;
				color: $colorMain_2;
			}
			&:hover,
			&.active{
				background-color: #FFFFFF;
				&:nth-child(1){
					box-shadow: 0 10px 20px 0 rgba(255,21,0,0.15);
				}
				&:nth-child(2){
					box-shadow: 0 10px 20px 0 rgba(72,151,255,0.15);
				}
				&:nth-child(3){
					box-shadow: 0 10px 20px 0 rgba(86,47,253,0.15);
				}
				.icn{
					img:nth-child(1){
						opacity: 0;
					}
					img:nth-child(2){
						opacity: 1;
					}
				}
			}
		}
	}
	.container-el{
		margin-top: 72px;
		.el{
			display: none;
			width: 100%;
			.content{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-between;
			}
			.illu{
				width: 550px;
				img{
					width: 100%;
				}
			}
			.text{
				width: 430px;
				h3{
					@include styleH3;
					margin-bottom: 15px;
				}
				p{
					@include styleParagraphMedium;
				}
				ul{
					margin-top: 22px;
					list-style: none;
					li{
						@include styleParagraphMedium;
						margin-bottom: 20px;
						padding-left: 25px;
						position: relative;
						&:last-child{
							margin-bottom: 0px;
						}
						&:before{
							content: '';
							position: absolute;
							left: 0px;
							top: 12px;
							height: 5px;	
							width: 5px;
							border-radius: 3px;
							background-color: $colorMain_2;
						}
					}
				}
			}
			&.displayBlock{
				display: block;
			}
		}
	}
}

#section-ftr{
	padding: 85px 0px 100px 0px;
	.wrapper{
		@include styleGrid1;
	}
	.container-text{
		text-align: center;
		h2{
			@include styleH2;
		}
		p{
			@include styleParagraphMedium;
			margin-top: 12px;
		}
	}
	.container-el{
		margin-top: 62px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			width: 28%;
			.icn{
				width: 60px;	
				border-radius: 30px;
				background-color: #FFFFFF;
				margin-bottom: 25px;
			}
			&:nth-child(1) .icn{
				box-shadow: 0 10px 20px 0 rgba(255,21,0,0.15);
			}
			&:nth-child(2) .icn{
				box-shadow: 0 10px 20px 0 rgba(88,193,234,0.2);
			}
			&:nth-child(3) .icn{
				box-shadow: 0 10px 20px 0 rgba(201,94,204,0.2);
			}
			h3{
				@include styleH4;
				margin-bottom: 14px;
			}
			p{
				@include styleParagraphNormal;
			}
		}
	}
}

#section-form{
	position: relative;
	padding: 90px 0px 40px 0px;
	background: linear-gradient(133.15deg, #9F2FFD 0%, #562FFD 18.77%, #4897FF 74.37%, #48D3FF 100%);
	.wrapper{
		position: relative;
		@include styleGrid4;
	}
	.container-text{
		text-align: center;
		h2{
			@include styleH2;
			color: #FFF;
		}
		.btn{
			@include buttonBig;
			background-color: #FFF;
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
			margin-top: 47px;
			.btn-img{
				width: 22px;
				margin-right: 17px;
			}
			.btn-text{
				color: $colorMain_1;
			}
			.btn-arrow{
				fill: $colorMain_1;
			}
		}
		.sep{
			margin: 50px auto 0px auto;
			position: relative;
			height: 30px;	
			width: 30px;	
			border-radius: 30px;
			border: 1px solid #FFFFFF;
			span{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0px;
				width: 100%;
				font-size: 12px;
				font-family: $font_1;
				color: #FFF;
			}
		}
	}
	form{
		position: relative;
		width: 100%;
		margin-top: 60px;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		.label{
			width: 49%;
			margin-bottom: 18px;
			.title{
				@include styleParagraphSmall;
				color: #FFF;
			}
			input,
			textarea{
				margin-top: 13px;
				width: 100%;
				background-color: #FFF;
				height: 60px;	
				border-radius: 7px;	
				background-color: #FFFFFF;
				border: none;
				padding-left: 20px;
				@include styleParagraphSmall;
				color: $colorMain_1;
				outline: none;
			}
			textarea{
				height: 115px;
				padding: 20px;
				resize: none;
				outline: none;
			}
			&.textarea{
				width: 100%;
			}
			&.error{
				.title,
				input,
				textarea{
					color: #F22323;
				}
			}
		}
		button{
			cursor: pointer;
			@include buttonBig;
			border: none;
			position: relative;
			background-color: #FFF;
			.btn-text{
				background: -webkit-linear-gradient(134.85deg, #FFA9BE 0%, #E257FE 21.94%, #562FFD 69.4%, #562FFD 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				transition: all 0.25s ease;
			}
			.btn-arrow{
				fill: #FFA9BE;
				transition: all 0.25s ease;
			}
			.btn-check{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				transform: translate(-50%, 150%);
				opacity: 0;
				transition: all 0.25s ease;
			}
			&.active{
				.btn-check{
					transform: translate(-50%, -50%);
					opacity: 1;
				}
				.btn-text{
					transform: translateY(-30px);
					opacity: 0;
				}
				.btn-arrow{
					transform: translateY(-30px);
					opacity: 0;
				}
				
			}
		}
	}
	.btn{
		margin: 45px auto 0px auto;
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	#section-join .container-el .el .illu{
		width: 400px;
	}
}
@media screen and (max-width: $breakPoint_mobile){

	#section-cover{
		overflow: hidden;
	}
	#section-cover .background{
		width: 220%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	#section-cover .wrapper h1
	{
		margin-top: 25px;
	}
	#section-cover .wrapper .btn
	{
		width: 100%;
		margin-top: 40px;
		justify-content: center;
	}
	#section-join .container-text p{
		width: 100%;
	}
	#section-join .container-tab{
		width: calc(100% + 50px);
		padding: 10px 25px 50px 25px;
		height: initial;
		margin-left: -25px;
		white-space: nowrap;
		display: block;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	#section-join .container-tab .tab{
		padding: 0px 25px 0px 25px;
		display: inline-flex;
		width: auto;
		height: 75px;
	}
	#section-join .container-el{
		margin-top: 0px;
	}
	#section-join .container-el .el .illu{
		width: 100%;
	}
	#section-join .container-el .el .text{
		width: 100%;
		margin-top: 35px;
	}
	#section-ftr .container-el .el{
		width: 100%;
		margin-bottom: 50px;
		&:last-child{
			margin-bottom: 0px;
		}
	}

	#section-form{
		padding-bottom: 100px;
	}
	#section-form form .label{
		width: 100%;
	}

}

/*=======================================
=            END PAGE TALENTS           =
=======================================*/
@import 'footer.scss';